//index.scss

.bg-primary {
    a {
        color: white;
    }

    * {
        color: white;
    }
    .navbar {
        background-color: #10121539;
        color: $white;

        .show {
            background-color: #10121568;
            margin-top: 12px;          
        }

        .dropdown-item {
            color: $white;
        }
    }
}


header {
    
    .swiper {
        width: 100%;
        height: 100%;

        &-slide {
            overflow: hidden;
        }
        

        &-pagination-bullet {
            background-color: $white;
        }

        &-btn {
            bottom: 5%;
        }

        &-button-next,
        &-button-prev {
            top: auto;
            bottom: 5%;
        }

        &-button-next::after,
        &-button-prev:after {
            content: "";
            position: static;
        }

        .swiper-pagination {
            bottom: 5%;
            width: auto;
        }
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.nav-link {
    color: white;
    text-align: center;
    position: relative;

    &:hover,
    &:focus {
        color: $black;
    }

}

.header-banner {
    height: 100vh;

    &-1 {
        background: url("../images/header-banner-1.jpeg") no-repeat 20% 50%/cover;

        @include desktop {
            background: url("../images/header-banner-1.jpeg") no-repeat top center/cover;
        }
    }

    &-2 {
        background: url("../images/header-banner-2.jpg") no-repeat left center/cover;

        @include desktop {
            background: url("../images/header-banner-2.jpg") no-repeat top center/cover;
        }
    }

    &-3 {
        background: url("../images/header-banner-3.jpg") no-repeat center/cover;

        @include desktop {
            background: url("../images/header-banner-3.jpg") no-repeat center/cover;
        }
    }

}



//banner-time-search
.time-search {
    // height: 80vh;

    &-body {
        height: 148px;
        padding: 28px;
        background-color: #00000080;
        z-index: 5;
        bottom: 20%;

        @include desktop {
            bottom: 15%;
        }
    }

    date,
    time {
        display: block;
    }

    &-date {
        width: 60%;
    }

    &-time {
        width: 40%;
    }
}

//sunset-block
.sunset {
    height: 825px;
    background: linear-gradient(to bottom, #10121500 43.63%, #101215), url("../images/sunset-bg.jpeg") no-repeat 90% 70%;

    @include desktop {
        height: 722px;
        background: linear-gradient(to bottom, #10121500 66.89%, #101215), url("../images/sunset-bg.jpeg") no-repeat 100% 55%;
    }


    .container {
        height: 100%;
    }

    &-tag {
        font-size: 20px;
        margin-bottom: 4px;

        @include desktop {
            margin-bottom: 10px;
        }
    }

    &-body {
        padding-bottom: 0px;

        @include desktop {
            padding-bottom: 66px;
        }
    }

    &-title {
        padding-top: 20px;
        font-size: 64px;
        line-height: 96px;
    }
}

//road block
.road {

    &-body {
        position: relative;

    }

    &-opentime {

        background-color: #00000080;

        @include desktop {
            position: absolute;
            top: 232px;
            left: -94px;

        }
    }

    &-title {
        font-size: 64px;
        line-height: 96px;

    }

}

//ecology
.ecology {
    // margin-bottom: 76px;
    height: 825px;
    background: linear-gradient(to bottom, #10121500 50%, #101215), url("../images/ecology-bg.jpg") no-repeat 45% 50%;
    background-size: cover;

    @include desktop {
        height: 960px;
        background: linear-gradient(to bottom, #10121500 50%, #101215), url("../images/ecology-bg.jpg") no-repeat center;
    }

    .container {
        height: 100%;
    }

    &-tag {
        font-size: 20px;
    }

    &-title {
        font-size: 64px;
        line-height: 96px;
    }
}

.ecologytime {
    &-content {
        @include desktop {
            height: 458px;
        }
    }

    &-body {

        @include desktop {
            width: 51.052%;
        }
    }

    h2 {
        font-size: 64px;
        line-height: 96px;

    }

    &-illus-top-left {
        max-width: 200px;

        @include desktop {
            position: absolute;
            left: 28px;
            top: 70px;
        }

    }

    &-illus-bottom-right {

        @include desktop {
            position: absolute;
            right: 27px;
            top: 220px;
        }

        &-img {
            max-width: 160px;

            @include desktop {
                max-width: 200px;
            }
        }
    }

    &-remark {
        @include desktop {
            text-align: center;
        }
    }

}

.area {

    a {
        display: flex;
        align-items: end;
    }

    h4 {
        padding-left: 12px;
        font-size: 40px;
        line-height: 60px;
    }

    .row {
        @include desktop {
            height: 540px;
        }

    }

    &-eats {
        height: 316px;
        background: linear-gradient(to bottom, #10121500 50%, #101215), url("../images/area-picture-1.jpg") no-repeat center;
        background-size: cover;

        @include desktop {
            height: 100%;
            margin: auto;

            h4 {
                font-size: 64px;
                line-height: 108px;
            }
        }

    }

    &-link-items {
        height: 316px;
        background-size: cover;

        @include desktop {
            height: 100%;
        }
    }

    &-qingshui {
        background-image: linear-gradient(to bottom, #10121500 50%, #101215), url("../images/area-picture-2.jpg");

    }

    &-wuqi {
        background-image: linear-gradient(to bottom, #10121500 50%, #101215), url("../images/area-picture-3.jpg");
    }

    &-shalu {
        background-image: linear-gradient(to bottom, #10121500 50%, #101215), url("../images/area-picture-4.jpg");
    }

    &-dajia {
        background-image: linear-gradient(to bottom, #10121500 50%, #101215), url("../images/area-picture-5.jpg");
    }
}

// list-group

.list-group {
    display: none;
    background-color: #000000;

    @include desktop {
        display: flex;
    }

    a {
        display: block;
    }

    &-title {
        color: $white;
        background-color: #101215;
        border-color: #101215;
    }

    &-item {
        &.active {
            color: $white;
            background-color: $secondary;
            border-color: $secondary;
        }

        &.disabled {
            color: $white;
            background-color: #101215;
            border-color: #101215;
        }
    }
}