//start -- travelplan

//start -- travelplan > 行程標題文字
.tour-btn-wrap {
    background-color: $primary;

    a {
        display: block;
        color: $white;
    }

    span {
        vertical-align: text-bottom;
        color: $white;
    }
}
//end -- travelplan > 行程標題文字

//start -- travelplan > 行程標題收藏btn
.tour-btn {

    &:hover {
        background-color: $primary;
        color: $white;
    }

    &-collect {
        &:hover {
            transform: scale(1.2);
        }

        span {
            color: $info;

        }
    }
}
//end -- travelplan > 行程標題收藏btn

//start -- travelplan > tour-text
.tour-text {
    position: relative;
    //start -- travelplan > tour-text > 偽類畫出時間線中的圓點
    &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: $secondary;
        border-radius: 50%;
        left: -40px;
    }
    //end -- travelplan > tour-text > 偽類畫出時間線中的圓點

    &-time {
        display: block;
        font-weight: bold;
        text-align: right;
        color: $secondary;
    }
}
//end -- travelplan > tour-text

//start -- travelplan > tour-body
.tour-body {
    position: relative;

    //start -- travelplan > tour-body > 偽類畫出時間線
    &::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 92%;
        background-color: $secondary;
        left: 31px;
    }
    //end -- travelplan > tour-body > 偽類畫出時間線
}
//end -- travelplan > tour-body

//end -- travelplan