@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./variables&mixin.scss";
@import './layout/index.scss';

//base.scss
body {
    background-color: #101215;
}

* {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0;
}

//layout.scss

.header {
    height: 905px;
    background: url("../images/header-bg.jpeg") no-repeat top center;
    background-size: cover;
    margin-bottom: 99px;

}

h1 {
    @include desktop {
        margin-right: 9.47%;
    }
}

.navbar {
    padding-top: 20.8px;
    padding-bottom: 24px;

    @include desktop {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    &-toggler {
        width: 32px;
        height: 24px;
        background: url("../images/nav-menu.svg") no-repeat center;
        background-size: cover;
    }

    &-brand {
        display: block;
        width: 120px;
        height: 36px;
        background: url("../images/logo.svg") no-repeat;
        background-size: 100%;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;

        @include desktop {
            width: 160px;
            height: 48px;
        }
    }

    &-nav {
        width: 72.018%;

        .dropdown-menu {
            top: 75%;
            left: -50%;

        }
    }

    &-collapse {
        justify-content: space-between;
    }

    &-login {
        a {
            font-size: 18px;
        }
    }
}


.nav-link {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;

    &:hover,
    &:focus {
        color: #333333;
    }


}

.footer {
    padding-top: 100px;
    padding-bottom: 99px;

    a {
        display: block;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    &-link {
        font-size: 20px;
    }

    .mb-a {
        margin-bottom: 54px;
    }

    &-social-media a:hover {
        transform: scale(1.2);
        background-color: #00000080;
    }
}

//index.scss

//banner-time-search
.time-search {
    width: 100%;
    height: 148px;
    padding: 28px;
    background-color: #00000080;
    top: 640px;

    @include desktop {
        width: 364px;
    }

    date,
    time {
        display: block;
    }

    &-date {
        width: 60%;
    }

    &-time {
        width: 40%;
    }
}

//sunset-block
.sunset {
    height: 722px;
    background: url("../images/sunset-bg.jpeg") no-repeat 75% 55%;

    .container {
        height: 100%;
    }

    &-tag {
        font-size: 20px;
    }

    &-body {
        max-width: 266px;
        margin-bottom: 66px;
    }

    &-title {
        padding-top: 20px;
        font-size: 64px;
        line-height: 96px;
    }
}

//road block
.road {
    .container {
        padding-top: 98px;
        padding-bottom: 100px;
    }

    img {
        width: 65.964%;
        height: auto;
    }

    &-body {
        left: 59.561%;
        top: 35.673%;

    }

    &-opentime {
        background-color: #00000080;
        padding: 28px 24px;
    }

    &-title {
        font-size: 64px;
        line-height: 96px;

    }

    &-time {
        margin-bottom: 28px;
    }

    &-time-items p {
        margin-bottom: 20px;
    }

}

//ecology
.ecology {
    height: 960px;
    background: url("../images/ecology-bg.png") no-repeat center;

    .container {
        height: 100%;
    }

    &-tag {
        font-size: 20px;
    }

    &-body {
        max-width: 266px;
        margin-bottom: 66px;
    }

    &-title {
        padding-top: 20px;
        font-size: 64px;
        line-height: 96px;
    }
}

.around {
    padding-top: 100px;
    padding-bottom: 99px;
    a {
        display: block;
    }

    &-eats {
        //max-width: 47.368%;
        width: 558px;
        height: 540px;
        background-image: url("../images/attractions-picture-1.jpg");
        background-size: cover;
        margin: auto;
    }
   

    &-qingshui {
        width: 267px;
        height: 258px;
        background-image: url("../images/attractions-picture-2.jpg");
        background-size: cover;
        margin: auto;
    }

    &-wuqi {
        width: 267px;
        height: 258px;
        background-image: url("../images/attractions-picture-3.jpg");
        background-size: cover;
        margin: auto;
    }

    &-shalu {
        width: 267px;
        height: 258px;
        background-image: url("../images/attractions-picture-4.jpg");
        background-size: cover;
        margin: auto;
    }

    &-dajia {
        width: 267px;
        height: 258px;
        background-image: url("../images/attractions-picture-5.jpg");
        background-size: cover;
        margin: auto;
    }
}