@import "../../../node_modules/bootstrap/scss/functions";
@import "./helpers/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./variables&mixin.scss";
@import './layout/index.scss';

//base.scss
body {
    background-color: #101215;
}

* {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
}

p {
    margin-bottom: 0;
}

//layout.scss

.header {
    height: 648px;
    background: url("../images/header-bg.jpeg") no-repeat 20% 50%;
    background-size: cover;
    margin-bottom: 60px;

    @include desktop {
        height: 905px;
        background: url("../images/header-bg.jpeg") no-repeat top center;
        background-size: cover;
        margin-bottom: 99px;
    }

}

h1 {
    @include desktop {
        margin-right: 9.47%;
    }
}

.navbar {
    padding-top: 20px;
    padding-bottom: 24px;

    @include desktop {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    &-toggler {
        width: 32px;
        height: 24px;
        background: url("../images/nav-menu.svg") no-repeat center;
        background-size: cover;
    }

    &-brand {
        display: block;
        width: 120px;
        height: 36px;
        background: url("../images/logo.svg") no-repeat;
        background-size: 100%;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;

        @include desktop {
            width: 160px;
            height: 48px;
        }
    }

    &-nav {
        width: 72.018%;

        .dropdown-menu {
            top: 75%;
            left: -50%;

        }
    }

    &-collapse {
        justify-content: space-between;
    }

    &-login {
        a {
            font-size: 18px;
        }
    }
}


.nav-link {
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;

    &:hover,
    &:focus {
        color: #333333;
    }


}

.footer {
    background-color: #000000;

    a {
        display: block;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    &-brand {
        width: 200px;
        height: 60px;

        @include desktop {
            width: 264px;
            height: 80px;
        }
    }

    &-link {
        font-size: 20px;
    }


    &-social-media a:hover {
        transform: scale(1.2);
        background-color: #00000080;
    }
}

//index.scss

//banner-time-search
.time-search {
    height: 472px;

    @include desktop {
        height: 687px;
    }

    &-body {
        height: 148px;
        padding: 28px;
        background-color: #00000080;

        @include desktop {
            bottom: 116px;
        }
    }

    date,
    time {
        display: block;
    }

    &-date {
        width: 60%;
    }

    &-time {
        width: 40%;
    }
}

//sunset-block
.sunset {
    height: 825px;
    background: linear-gradient(to bottom, #10121500 43.63%, #101215), url("../images/sunset-bg.jpeg") no-repeat 90% 70%;

    @include desktop {
        height: 722px;
        background: linear-gradient(to bottom, #10121500 66.89%, #101215), url("../images/sunset-bg.jpeg") no-repeat 100% 55%;
    }


    .container {
        height: 100%;
    }

    &-tag {
        font-size: 20px;
        margin-bottom: 4px;

        @include desktop {
            margin-bottom: 10px;
        }
    }

    &-body {
        padding-bottom: 0px;

        @include desktop {
            padding-bottom: 66px;
        }
    }

    &-title {
        padding-top: 20px;
        font-size: 64px;
        line-height: 96px;
    }
}

//road block
.road {

    img {

        @include desktop {
            // width: 65.964%;
        }

    }

    &-body {
        position: relative;

    }

    &-opentime {

        background-color: #00000080;

        @include desktop {
            position: absolute;
            top: 232px;
            left: -94px;

        }
    }

    &-title {
        font-size: 64px;
        line-height: 96px;

    }

}

//ecology
.ecology {
    // margin-bottom: 76px;
    height: 825px;
    background: linear-gradient(to bottom, #10121500 50%, #101215), url("../images/ecology-bg.jpg") no-repeat 45% 50%;
    background-size: cover;

    @include desktop {
        height: 960px;
        background: linear-gradient(to bottom, #10121500 50%, #101215), url("../images/ecology-bg.jpg") no-repeat center;
    }

    .container {
        height: 100%;
    }

    &-tag {
        font-size: 20px;
    }

    &-title {
        font-size: 64px;
        line-height: 96px;
    }
}

.ecologytime {
    &-content {
        @include desktop {
            height: 458px;
        }
    }

    &-body {

        @include desktop {
            width: 51.052%;
        }
    }

    h2 {
        font-size: 64px;
        line-height: 96px;

    }

    &-illus-top-left {
        max-width: 200px;

        @include desktop {
            position: absolute;
            left: 28px;
            top: 70px;
        }

    }

    &-illus-bottom-right {

        @include desktop {
            position: absolute;
            right: 27px;
            top: 220px;
        }

        &-img {
            max-width: 160px;

            @include desktop {
                max-width: 200px;
            }
        }
    }

    &-remark {
        @include desktop {
            text-align: center;
        }
    }

}






.around {

    a {
        display: flex;
        align-items: end;
    }

    h4 {
        padding-left: 12px;
        font-size: 40px;
        line-height: 60px;
    }

    .row {
        @include desktop {
            height: 540px;
        }

    }

    &-eats {
        height: 316px;
        background: url("../images/attractions-picture-1.jpg") no-repeat center;
        background-size: cover;
        
        @include desktop {
            height: 100%;
            margin: auto;
            h4 {
                font-size: 64px;
                line-height: 108px;
            }
        }
        
    }

    &-dist-items {
        height: 316px;
        background-size: cover;
        @include desktop {
            height: 100%;
        }
    }

    &-qingshui {
        background-image: url("../images/attractions-picture-2.jpg");

    }

    &-wuqi {
        background-image: url("../images/attractions-picture-3.jpg");
    }

    &-shalu {
        background-image: url("../images/attractions-picture-4.jpg");
    }

    &-dajia {
        background-image: url("../images/attractions-picture-5.jpg");
    }
}